@page
@model BeardedBelligerentsHomepage.Pages.LiveModel
@{
    ViewData["Title"] = "Live";
}

<!DOCTYPE html>
<html>
<head>
    <title>Live</title>

</head>
<body>

    <div style="display: flex; flex-direction: column; align-items: center;">
        <div style="flex-basis: 100%;text-align: center;">
            <h2>Holy Wars</h2>
            <iframe src="https://www.youtube.com/embed/OrIIMxEocZE" 
            frameborder="0" 
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div style="flex-basis: 80%;text-align:center;">
            <h2>Four Horsemen</h2>
            <iframe src="https://www.youtube.com/embed/q5nY6ZbTumk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div style="flex-basis: 80%;text-align:center;">
            <h2>Domination Outro</h2>
            <iframe src="https://www.youtube.com/embed/a9yXtsqCopQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>


</body>
</html>

