<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Metal For All</title>
    <link rel="icon" type="image/x-icon" href="/Assets/BB_Belligerent- icon.ico">
    <link rel="stylesheet" href="~/lib/w3-css/w3.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />


</head>
<body style = "min-height: 100vh;display: flex;flex-direction: column;">
    <header>
        <!-- Navigation (Stays on Top) -->
        <div class="w3-top w3-bar w3-black" style="display: flex; justify-content: center;">
            <a href="/Index" class="w3-bar-item w3-button">Home</a>
            <a href="/Live" class="w3-bar-item w3-button">Live</a>            
            <a href="/Members" class="w3-bar-item w3-button">Members</a>
            <a href="/Contact" class="w3-bar-item w3-button">Contact</a>
            <a href="/Covers" class="w3-bar-item w3-button">Covers</a>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="margin-top:auto;text-align:center;">
        <div class="container">
            &copy; 2024 - The Bearded Belligerents
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>